@tailwind base;
@tailwind components;
@tailwind utilities;

.zolastic-component-library-experiment-select-content::-webkit-scrollbar {
  width: 8px;
  height: 80px;
}

.zolastic-component-library-experiment-select-content::-webkit-scrollbar-track {
  background: transparent;
}

.zolastic-component-library-experiment-select-content::-webkit-scrollbar-thumb {
  background: #98a2b3;
  border-radius: 99px;
}
